
<ul class="list-unstyled">
	<li>
		@Html.ActionLink(Resources.ProductName, "List", "Product")
		<hr/>
	</li>
	<li>
		@Html.ActionLink(Resources.CategoryName, "List", "Category")
		<hr />
	</li>
	<li>
		@Html.ActionLink(Resources.CountryName, "List", "Country")
		<hr />
	</li>
</ul>